# VoxTether Backend Dependencies

# Web framework
fastapi>=0.128.0
uvicorn[standard]>=0.40.0
python-multipart>=0.0.22

# Configuration
pydantic>=2.12.5
pydantic-settings>=2.12.0

# Transcription
faster-whisper>=1.2.1

# Model management
huggingface-hub>=1.3.7

# CLI
click>=8.3.1

# CUDA support (out comment if should only run cpu)
nvidia-cublas-cu12
nvidia-cudnn-cu12
